/* start global rules */
:root {
    --main-color: #80936a;
    --transparent-color: rgb(15 116 143 / 70%);
    --main-transition: .3s;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* end global rules */
/* start header */
header {
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    padding: 0 100px;
}

header .container {
    min-height: 100px;
}

@media (max-width:767px) {
    header {
        padding: 0 20px;
    }
}

header .logo {
    cursor: pointer;
}

header .logo::before {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 70%;
    height: 3px;
    background-color: var(--main-color);
    transform: skewX(-45deg);
}

header .container>i {
    cursor: pointer;
}

@media (min-width:600px) {
    header .toggle-menu {
        display: none;
    }
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

header ul::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: black;
    top: -20px;
    right: 5px;
}

header ul li a {
    padding: 40px 15px;
    transition: var(--main-transition);
}

header ul li a:hover {
    background-color: #eeeeee26;
}

@media (max-width:599px) {
    header nav {
        display: none;
    }

    header .toggle-menu:hover+nav {
        display: block;
        position: absolute;
        top: 76%;
        left: 0;
        width: 100%;
    }

    header nav:hover{
        display: block;
        position: absolute;
        top: 76%;
        left: 0;
        width: 100%;
    }

    header ul {
        gap: 2px;
        background: transparent;
    }

    header ul li {
        width: calc(50% - 1px);
        background: #0000007d;
    }

    header ul li a {
        padding: 11px 6px;
    }
}

/* start header */
/* start landing */
.landing {
    background-image: url(../images/cover6.jpg);
    background-size: cover;
    min-height: 100dvh;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.landing .text {
    top: 50%;
    transform: translateY(-50%);
    background: #eeeeee2b;
    padding: 55px 50px;
    max-width: 600px;
}

.landing .text h3 {
    line-height: 1.5;
}

@media (min-width:400px){
    .landing .text h3{
        font-size: 40px;
    }
}

@media (max-width:399px){
    .landing .text{
        padding: 30px 50px;
    }

    .landing .text h3{
        font-size: 35px;
    }
}

.landing .info {
    font-size: 17px;
    margin-top: 20px;
    line-height: 1.8;
    color: var(--main-color);
}

.landing .social {
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    flex-direction: column;
    gap: 45px;
    border-left: 1px solid white;
}

.landing .social a i {
    padding: 0 22px;
    font-size: 30px;
    transition: var(--main-transition);
}

@media (max-width:767px) {
    .landing .social {
        flex-direction: row;
        border-top: 1px solid white;
        border-left: none;
        width: fit-content;
        top: 88%;
        transform: translateX(-50%);
        left: 50%;
    }

    .landing .social a i {
        padding: 15px 5px;
        font-size: 25px;
    }
}

.landing .social a i:hover {
    scale: 1.2;
}

a.home {
    background-color: var(--main-color);
    padding: 18px;
    right: 50px;
    bottom: 50px;
    position: fixed;
    transition: var(--main-transition);
    z-index: 10;
}

.landing a.home:hover {
    background-color: #5c6a4b;
}

@media (max-width:599px) {
    .landing a.home {
        display: none;
    }
}

/* end landing */
/* start about */
.about .content {
    padding: 0 50px;
    gap: 20px;
}

.about .content .image {
    margin-right: 60px;
    position: relative;
    height: fit-content;
}

@media (max-width:767px) {
    .about .content .image {
        display: none;
    }
}

.about .content .image::before {
    content: "";
    position: absolute;
    width: 266px;
    height: 400px;
    right: -35px;
    bottom: -35px;
    background-color: transparent;
    border: 8px solid var(--main-color);
    z-index: -1;
}

.about .content img {
    height: 400px;
}

.about .info h2 {
    color: var(--main-color);
}

.about .info .top p:first-child {
    color: gray;
    margin-bottom: 30px;
    font-size: 15px;
}

.about .info .top p:not(:first-child) {
    line-height: 1.7;
}

@media (max-width:767px) {
    .about .info .top .first {
        display: none;
    }
}

.about .info .last {
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.about .info .bottom {
    flex-wrap: wrap;
}

@media (max-width:599px) {
    .about .info .bottom {
        flex-direction: column;
    }
}

.about .info .bottom div {
    width: calc(100% / 2);
    margin-bottom: 25px;
}

/* end about */
/* start skills */
.skills {
    background-color: #333;
    color: white;
}

.skills h2 {
    width: fit-content;
    margin: auto;
    font-size: 40px;
}

.skills h2::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.skills h2+p {
    color: #eee;
    text-align: center;
    width: 60%;
    margin: 30px auto 0;
}

.skills .content {
    padding: 30px 50px 0;
    justify-content: space-around;
}

.skills .content .left {
    flex-direction: column;
}

.skills .content .left img {
    width: 100px;
    height: 100px;
}

@media (max-width:767px) {
    .skills .content .left {
        display: none;
    }
}

.skills .content .right {
    flex-direction: column;
    width: 50%;
}

@media (max-width:767px) {
    .skills .content .right {
        flex: 1;
    }
}

.skills .content .right .skill {
    margin-bottom: 25px;
}

.skills .content .right .skill h3 {
    margin: 10px 3px;
}

.skills .content .right .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 10px;
    color: var(--main-color);
}

.skills .content .right .skill .the-progress {
    height: 30px;
    background-color: #eee;
    border-radius: 20px;
}

.skills .content .right .skill .the-progress span {
    background-color: var(--main-color);
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 20px;
}

/* end skills */
/* start works */
.works h2 {
    width: fit-content;
    margin: auto;
    font-size: 40px;
}

.works h2::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}

.works .content {
    margin-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
}

.works .content .container {
    flex-wrap: wrap;
    gap: 5px;
    width: 520px;
}

.works .content .container>div {
    cursor: pointer;
}

@media (min-width:600px) {
    .works .content .container img {
        width: 140px;
        height: 140px;
        background: #eee;
        padding: 20px;
        filter: grayscale(1);
        transition: var(--main-transition);
        cursor: pointer;
    }

    .works .content .container div:nth-child(1) img {
        transform: translate(-22px, 3px);
        width: 170px;
    }

    .works .content .container div:nth-child(2) img {
        width: 170px;
        height: 125px;
        transform: translate(-12px, 5px);
    }

    .works .content .container div:nth-child(3) img {
        width: 155px;
    }

    .works .content .container div:nth-child(4) img {
        width: 160px;
    }

    .works .content .container div:nth-child(5) img {
        height: 190px;
        width: 150px;
        transform: translateY(-10px);
    }

    .works .content .container div:nth-child(6) img {
        width: 190px;
    }

    .works .content .container div:nth-child(7) img {
        transform: translate(-12px, -46px);
        width: 170px;
    }

    .works .content .container div:nth-child(8) img {
        width: 180px;
        transform: translateY(-7px);
    }

    .works .content .container div:nth-child(9) img {
        transform: translateY(-45px);
    }

    .works .content .container img:hover {
        filter: grayscale(0);
        padding: 8px;
    }

    .works .content .container div div {
        display: none;
    }
}

@media (max-width:599px) {
    .works .content .container {
        flex-direction: column;
    }

    .works .content .container div {
        overflow: hidden;
    }

    .works .content .container img {
        width: 100%;
        height: 310px;
        transition: var(--main-transition);
    }

    .works .content .container div:hover img {
        transform: scale(1.1);
    }

    .works .content .container div .child {
        width: 100%;
        height: 20%;
        background-color: #000000c2;
        font-size: 25px;
        bottom: -100%;
        animation: appear 5s infinite;
    }

}

@keyframes appear {
    50% {
        bottom: 0;
    }

    100% {
        bottom: -100%;
    }
}

/* end works */
/* start footer */

.footer {
    background-color: #333;
}

.footer .top {
    justify-content: space-between;
    padding: 20px 20px;
    margin: 0 40px;
    border-bottom: 1px solid #666;
}

.footer .box h4 {
    font-size: 25px;
    margin-bottom: 40px;
}

.footer .box h4::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    background-color: var(--main-color);
    height: 4px;
    width: 70%;
    transform: skewX(-45deg);
}

.footer .box .social {
    font-size: 20px;
    gap: 20px;
}

.footer .box .social i {
    transition: var(--main-transition);
}

.footer .box .social a:first-child:hover i {
    color: #1877f2;
}

.footer .box .social a:nth-child(2):hover i {
    color: #E1306C;
}

.footer .box .social a:nth-child(3):hover i {
    color: #5b5959;
}

.footer .box .social a:last-child:hover i {
    color: #0077b5;
}

.footer .last-posts h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer .last-posts .posts {
    flex-direction: column;
    gap: 10px;
}

.footer .last-posts .posts div {
    transition: var(--main-transition);
    cursor: pointer;
}

.footer .last-posts .posts div:hover {
    color: #666;
}

.footer .last-posts .posts div::before {
    content: "\f0da";
    font-family: "FontAwesome";
    margin-right: 10px;
}

.footer .contact h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer .contact .box {
    flex-direction: column;
    gap: 10px;
}

.footer .contact .box i {
    margin-right: 10px;
    color: var(--main-color);
}

.footer .contact .box p {
    display: inline;
}

.footer .top>img {
    display: none;
}

.footer .finish {
    text-align: center;
    background: #27282a;
    padding: 20px 0;
}

.footer .finish span {
    color: var(--main-color);
    font-weight: bold;
}

@media (max-width:767px) {
    .footer .top {
        flex-direction: column;
        margin: 0 20px;
    }

    .footer .box {
        display: flex;
        justify-content: space-between;
    }

    .footer .last-posts {
        margin-bottom: 30px;
    }

    .footer .top>img {
        display: block;
        position: absolute;
        right: 0;
        bottom: 80px;
        opacity: 0.1;
        width: 160px;
    }
}

/* end footer */
